@use '../_MainBase/main_base';

@mixin main-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-top: 252px;
    // margin-left: 519px;
    border-radius: main_base.$border_radius;
    width: 401px;
    height: 519px;
    position: relative;
    @include main_base.block-center-position;
}

@mixin header {
    padding-top: 30px;
    font-size: 36px;
    text-align: center;
}

@mixin under-text {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}