@use '../_MainBase/main_base';

@mixin main-container {
    display: block;
    border-radius: main_base.$border_radius;
    width: 400px;
    position: relative;
    @include main_base.block-center-position;
}

@mixin header {
    padding-top: 30px;
    font-size: 36px;
    text-align: center;
}

@mixin under-text {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}