@use '../_MainBase/main_base';
$back-color: #d9d9d9;

@mixin main-container {
    display: block;
    border-radius: 30px;
    width: 400px;
    position: relative;
    @include main_base.block-center-position;
}

@mixin header {
    padding-top: 30px;
    font-size: 36px;
    text-align: center;
}

@mixin under-text {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}