/* блок */
.login-form {
    left: 50%;
    top: 50%;
    width: 400px;
    height: 512px;
    margin-left: -200px;
    margin-top: -256px;
    background-color: #d9d9d9;
    position: absolute;
    border-radius: 30px;
}

/* элементы */
.login-form__text {
    left: 50%;
    top: 50%;
    font-size: 36px;
    text-align: center;
    margin: 38px;
}
.login-form__login-title {
    margin-left: 56px;
    font-size: 16px;
    color: #000;
    
}
.login-form__login-line {
    width: 285px;
    border-top: 1px solid;
    margin-top: 48px;
}
/* .login-form__buttons {
    width: 400px;
    background-color: red;
}
.login-form__submit {
    background-color: yellowgreen;
    width: 500px;

} 
 .login-form__reset {
    width: 500px;
 } */
/* .login-form__username-input {}
.login-form__password-input {}  */