@use '../../base_styles/main/colors/main_colors';
@use './colors/button_colors';

.button-chat {
    display: block;
    position: absolute;
    top: 894px;
    left: 1250px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid button_colors.$button-border-color;
    cursor: pointer;
}

.button-save {
    top: 650px;
    left: 145px;
}

button {
    display: block;
    position: absolute;
    width: 298px;
    height: 58px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    margin-left: 55px;
    background-color: main_colors.$component-color;
}

.auth-button-name {
    top: 35%;
    left: 40%;
    font-size: 100%;
}

.register-button-name {
    left: 18%;
}

.settings-button-name {
    left: 32%;
}

.button-creation-chat {
    top: 70%;
    left: 13%;
    height: 20%;
    width: 60%;
    background-color: button_colors.$button-action-chat-color;
}

.button-creation-name {
    top: 34%;
    left: 35%;
    font-size: large;
    font-weight: 600;
    color: button_colors.$button-action-text-color;
}

.button-add-user-chat {
    top: 70%;
    left: 13%;
    height: 20%;
    width: 60%;
    background-color: button_colors.$button-action-chat-color;
}

.button-del-yes-chat {
    top: 70%;
    left: 5%;
    height: 20%;
    width: 30%;
    background-color: button_colors.$button-action-chat-color;

    .button-name {
        top: 35%;
        left: 40%;
        font-size: large;
        font-weight: 600;
        color: button_colors.$button-action-text-color;
    }
}

.button-del-no-chat {
    top: 70%;
    right: 15%;
    height: 20%;
    width: 30%;
    background-color: button_colors.$button-action-chat-color;
    cursor: pointer;

    .button-name {
        top: 35%;
        left: 40%;
        font-size: large;
        font-weight: 600;
        color: button_colors.$button-action-text-color;
    }
}

.close-button {
    top: 2%;
    left: 82%;
    width: 8%;
    background-color: button_colors.$window-color;
    cursor: pointer;

    .button-name {
        top: 20%;
        left: 37%;
        font-size: 30px;
    }
}
