// @use '../../base_styles/main/main';
@use '../../base_styles/main/colors/main_colors';

button {
    display: block;
    position: absolute;
    width: 298px;
    height: 58px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    background-color: main_colors.$component-color;
}
