$position-center: 50%;
$back-color: #d9d9d9;
$border-radius: 30px;

.login-container {
    padding: 30px;
}

.login-header {
    font-size: 20px;
    text-align: center;
}

.login-form {
    margin: 40px 0 0 0;
}
