.login-container {
    border: 1px solid black;
    border-radius: 30px;
    margin: 0px auto;
    width: 400px;
    height: 520px;
    position: relative;
    top: 50%;
    transform: translateY(50%);

    .login-header {
        padding-top: 30px;
        font-size: 36px;
        text-align: center;
    }

    .login-input__login {
        margin-top: 20px;
    }

    .login-input__password {
        margin-top: 10px;
    }
}