@use './colors/colors';

input, label {
   display: block;
   position: relative;
}

label {
   top: 15px;
   margin-left: 60px;
}

input {
   width: 100%;
   width: 285px;
   height: 30px;
   border: none;
   border-bottom: 1px solid;
   left: 60px;

   &:focus {
      outline: none;
      text-align: left;
   }

   &::placeholder {
      text-align: left;
      font-size: 15px;
   }

}

.input-top {
   margin-top: 15px;
}

input {
   background-color: colors.$input-back-color;
}
