input, label {
   display: block;
   position: relative;
}

label {
   top: 15px;
   margin-left: 50px;
}

input {
   width: 100%;
   width: 285px;
   height: 30px;
   border: none;
   border-bottom: 1px solid;
   margin-left: 50px;

   &:focus {
      outline: none;
      text-align: left;
   }

   &::placeholder {
      text-align: left;
      font-size: 15px;
   }

}

.input-top {
   margin-top: 20px;
}

input {
   background-color: #d9d9d9;
}
