@use '../_MainBase/main_base';
@use '../_AuthBase/auth_base';

.register-container {
    @include auth_base.main-container;
    margin-top: -200px;
    height: 732px;

    .register-header {
        @include auth_base.header;
    }

    .register-button {
        margin-top: 50px;
    }

    .register-button__under-text {
        @include auth_base.under-text;
    }
}

.register-container {
    background-color: main_base.$back-color;
}