@use './colors/label_colors';

label {
    display: block;
    position: relative;
    top: 30px;
    left: 60px;

    // font-family: Inter;
    font-size: 16px;

    // font-style: normal;
    font-weight: 400;
    color: label_colors.$label-color;
    z-index: 2;
}

.profile-label {
    top: 15px;
    left: 80px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: label_colors.$profile-label-color;
}

.chat-label {
    display: none;
    top: 30px;
    left: 30px;
    height: 98px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
