@use './colors/label_colors';

label {
    display: block;
    position: relative;

    top: 15px;
    margin-left: 30px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: label_colors.$label_color;

    z-index: 2;
}

.profile-label {
    top: 35px;
    left: 40px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: label_colors.$profile_label_color;
}
