@use '../../pages/_MainBase/main_base';

button {
    width: 298px;
    height: 58px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

button {
    background-color: main_base.$component_color;
}

// .button-top {
//     margin-bottom: 20px;
// }