$font-size: 20px;

.profile-field {
    margin-top: 40px;
    font-weight: bold;
    font-size: $font-size;
    margin-left: 70px;
    text-align: left;
}

.profile-value {
    margin-top: -20px;
    font-weight: normal;
    text-align: right;
    margin-right: 60px;
    font-size: $font-size;
}

