@use './colors/colors';

.search-chat {
    display: block;
    height: 1024px;
    width: 535px;
    background-color: colors.$back-color;

    .search-bar {
        display: block;
        background-color: colors.$search-bar-color;
        top: 67px;
        left: 103px;
        height: 64px;
        width: 416px;
        border-radius: 20px;
        border-style: none;

        &::placeholder {
            font-size: 24px;
            padding-left: 50px;
        }
    }

    .profile-button {
        display: block;
        margin-top: 20px;
        margin-left: 30px;
        width: 41px;
    }
}
