@use '../_MainBase/main_base';

@mixin profile-container {
    @include main_base.block-center-position;
    width: 702px;
    height: 825px;
    text-align: center;
    border-radius: main_base.$border_radius;
    background-color: main_base.$back_color;
}

@mixin avatar {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    background-color: main_base.$component_color;
    z-index: 1;
}