@use '../../base_styles/main/colors/main_colors';
@use './colors/chats_colors';


.chats-form {
    height: 950px;
    width: 500px;
    background-color: main_colors.$back-color;

    .chat-list {
        margin-top: 70px;
        height: 82%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    // .msgs-list {
    //     position: relative;
    //     top: 90%;
    // }

    // .chat-button {
    //     left: 10%;
    // }

    // .valid-err-msg {
    //     position: absolute;
    //     top: 550%;
    //     left: -3%;
    // }

    .chats-search-bar {
        display: block;
        position: relative;
        top: 70px;
        left: 100px;
        height: 60px;
        width: 370px;
        border-radius: 20px;
        border: none;
        background-color: chats_colors.$search-bar-color;


        &::placeholder {
            padding-left: 20px;
            text-align: left;
            font-size: 20px;
        }
    }

    // .select-chat-legend {
    //     display: block;
    //     position: absolute;
    //     top: 50%;
    //     left: 1050px;
    //     font-size: 25px;
    //     font-weight: bold;
    //     color: chats_colors.$chats-legend-color;
    // }

    .action-window-class {
        display: block;
        position: fixed;
        top: 35%;
        left: 30%;
        height: 100%;
    }

    .delete-window-class {
        display: block;
        position: fixed;
        top: 15%;
        left: -5%;
        height: 100%;
        width: 28%;
    }

    .add-user-chat-window-class {
        display: block;
        position: fixed;
        top: 20%;
        left: 27%;
        height: 100%;
    }

    // .chat-area {
    //     display: none;
    //     position: absolute;
    //     top: 8px;
    //     left: 508px;
    //     height: 151px;
    //     width: 1400px;
    //     border: 1px solid chats_colors.$chats-border-color;
    //     background-color: main_colors.$back-color;

    //     .chat-area-name {
    //         display: block;
    //         position: relative;
    //         top: 55px;
    //         left: 30px;
    //         text-align: left;
    //         font-size: 23px;
    //         font-weight: bold;
    //     }

    //     .chat-last-time {
    //         display: block;
    //         position: relative;
    //         top: 65px;
    //         left: 30px;
    //         text-align: left;
    //         font-size: 20px;
    //     }
    // }
}
