@use '../../base_styles/main/colors/main_colors';
@use '../../base_styles/auth/auth';


.login-container {
    @include auth.main-container;

    .login-header {
        @include auth.header;
    }

    // .login-button__under-text {
    //     @include auth.under-text;
    // }

    background-color: main_colors.$back-color;
}

.login-button {
    margin-top: 80px;
    margin-left: 50px;
}
