@use '../../base_styles/main/colors/main_colors';
@use '../../base_styles/auth/auth';

.login-container {
    @include auth.main-container;
    height: 520px;

    .login-header {
        @include auth.header;
    }

    .login-button {
        margin-top: 170px;
    }

    .login-button__under-text {
        @include auth.under-text;
    }

    background-color: main_colors.$back-color;
}
