@use '../../components/ChatButton/colors/colors';

.form-chats {
    position: absolute;
    top: 0%;
    left: 0%;

    .select-default-msg {
        text-align: center;
        margin-left: 733px;
        font-weight: bold;
        color: colors.$border-color;
        font-size: 29px;
    }
    
    .chat-list {
        display: block;
        // margin-top: -440px;
        // margin-left: -40px;
    }
}

