@use '../../components/ChatButton/colors/colors';

.select-default-msg {
    margin-top: -498px;
    margin-left: 733px;
    font-weight: bold;
    color: colors.$border-color;
    font-size: 29px;
}

.chat-list {
    margin-top: -440px;
    margin-left: -40px;
}

