@use './colors/input_colors';

.chat-input {
   top: 798px;
   left: -1px;
   height: 50px;
   width: 1380px;
   border: 1px solid input_colors.$input-border-color;
}


.profile-input {
   top: -20px;
   left: 340px;
   font-size: 18px;
   text-align: right;
   border: none;

   &:focus {
      text-align: right;
   }
}


input {
   display: block;
   position: relative;
   width: 100%;
   width: 285px;
   height: 40px;
   border: none;
   border-bottom: 1px solid;
   left: 60px;
   top: 25px;

   &:focus {
      outline: none;
      text-align: left;
   }

   &::placeholder {
      text-align: left;
      font-size: 15px;
   }

   background-color: input_colors.$input-back-color;
}
