@use './colors/input_colors';

.input-top {
    margin-top: 15px;
}

input {
   display: block;
//    position: relative;
   width: 100%;
   width: 285px;
   height: 30px;
   border: none;
   border-bottom: 1px solid;
   left: 60px;

   &:focus {
      outline: none;
      text-align: left;
   }

   &::placeholder {
      text-align: left;
      font-size: 15px;
   }

   background-color: colors.$input-back-color;
}
