@use '../../components/SearchChat/colors/colors';

.select-default-msg {
    display: block;
    margin-top: -498px;
    margin-left: 733px;
    font-weight: bold;
    color: colors.$back-color;
    font-size: 29px;
}


